.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0004;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.form__x {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #D85D5D;
    transition: transform 200ms ease;
    cursor: pointer;
}

.form__x:hover {
    transform: scale(1.2);
    transition: transform 200ms ease;
}

.form__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.form__div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form__label {
    font-size: 14px;
    font-weight: 700;
    color: #000a;
}

.form__input {
    font-family: inherit;
    padding: 6px 15px;
    background-color: #F9FAFC;
    border: 1px solid #ccc9;
    border-radius: 5px;
    font-weight: 200;
}

.form__input::placeholder {
    color: #a1b4d9
}

.form__btn {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #555A88;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transform: filter 100ms ease;
}

.form__btn:hover {
    filter: brightness(1.2);
    transform: filter 100ms ease;
}