.delete__card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px #0004;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.delete__title {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.delete__div {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}

.delete__btn {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background-color: #555A88;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 200ms ease;
}

.delete__btn:hover {
    transform: scale(1.1);
    transition: transform 200ms ease;
}